<!doctype html>
<html lang="en">
{% load static %}
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Story 8 | BookSearch</title>
  <link rel="icon" type="image/png" href="{% static 'img/book.png' %}">
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body class="text-center">
  
    
  <h1 class="mt-4 title">Book Search</h1>

    <input style="width: 75%;" type="text" id="key">
    <button class="btn-primary"type="button" id="search">Search</button>

  <div id="content" class="row"></div>
  
  <script src= "https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"> </script>
  <script src = "{% static 'js/index.js' %}"></script>
  <script src= "https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"> </script>
  <script src= "https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"> </script>
  <script src= "https://use.fontawesome.com/releases/v5.0.8/js/all.js"> </script>

</body>
</html>