* {
    box-sizing: border-box;
    font: Century;
    font-weight: 300;
}
/* Theme */
.dark{
  background-image: url(../img/prism.png);
}

div.col > .dark-bg{
  background-color: #000;
  color: white;
}
.white{
  background-image: url(../img/cubes.png);
}

.white-font{
  color: #fefefe;
}
/* End Theme */


ul .inside{
    overflow: hidden;
    display: none;
    list-style-type: circle;
    text-align: left;
}

.child {
    list-style-type: none;
    min-width: 550px;
}

li a.panels {
    text-decoration: none;
    margin: .5em 0;
    display: block;
    background: #181818;
    color: #fefefe;
    padding: .75em;
    border-radius: 0.15em;
    transition: .3s ease;
}

.acc-list a:hover {
    text-decoration: none;
    margin: .5em 0;
    background:blue;
}

.box {
  height: 500px;
  width: 1000px;
  background-color:black;
}

/* IMG CARD */
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
}

.title {
  color: grey;
  font-size: 18px;
}

button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

a {
  text-decoration: none;
  font-size: 22px;
  color: black;
}

button:hover, a:hover {
  opacity: 0.7;
}
