<!doctype html>
<html lang="en">
{% load static %}
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>My Profile | Portfolio</title>
  <link rel="icon" type="image/png" href="{% static 'img/ali.png' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body class="white">
  
    <div class="container text-center">
      
      <div class="row">
          <header class="py-5">
              <h1 class="font-weight-light">My Profile</h1>
          </header>
          
      </div>
      
      <div class="row">
        <div class="col">
            <div class="card p-2 dark-bg">
                <img src="{% static 'img/ali.png' %}" alt="Ali" style="width:100%">
                <h3>Ali Irsyaad Nursyaban</h3>
                <p class="title">Web Developer, Ethical Hacker</p>
                <p>Universitas Indonesia | Computer Science</p>
                <div class="col mb-4">
                  <!-- LinkedIn -->
                  <a class="p-2 fa-lg fb-ic" href="https://id.linkedin.com/in/ali-irsyaad-nursyaban-519ab2125" target="_blank">
                    <i class="fab fa-linkedin text-white-50"> </i>
                  </a>
                  <!-- Twitter -->
                  <a class="p-2 fa-lg tw-ic" href="https://twitter.com/A_Irsyaad_N" target="_blank" >
                    <i class="fab fa-twitter text-white-50"> </i>
                  </a>
                  <!-- Instagram -->
                  <a class="p-2 fa-lg ins-ic" href="https://www.instagram.com/ali_irsyaad/" target="_blank">
                    <i class="fab fa-instagram text-white-50"> </i>
                  </a>
                </div>
            </div>
        </div>
        <div class="col">
            <ul class="child">
                <li class='acc-list'>
                  <a class="panels" href="#">Activities</a>
                  <ul class="inside">
                      <li>Student</li>
                      <li>Sports</li>
                      <li>IT</li>
                  </ul>
                </li>
  
                <li class='acc-list'>
                  <a class="panels" href="#">Experiences</a>
                  <ul class="inside">
                    <li>Chairman of <strong>Gerakan Cinta Lingkungan 34</strong> </li>
                    <li>Leader of Event <strong>INTEGER 2018</strong></li>
                    <li>Staff of Workshop <strong>Educare Fasilkom UI 2018</strong></li>
                    <li>Staff of Decoration and Costume <strong>COMPFEST 11</strong></li>
                  </ul>
                </li>
  
                <li class='acc-list'>
                  <a class="panels test-accordion" href="#">Achievements</a>
                  <ul class="inside">
                    <li>1st Place in JKTC Pencak Silat Class E</li>
                  </ul>
                </li>
  
                <li class='acc-list'>
                  <a class="panels" href="#">Educations</a>
                  <ul class="inside">
                    <li>SDN 01 Lebak Bulus</li>
                    <li>SMPN 85 Jakarta</li>
                    <li>SMAN 34 Jakarta</li>
                    <li>University of Indonesia, Computer Science Undergraduate</li>
                  </ul>
                </li>
            </ul>
                <div class="custom-control custom-switch">
                  <input type="checkbox" class="custom-control-input" id="switch">
                  <label class="custom-control-label switch-label" for="switch">White Mode</label>
                </div>
        </div> 
      </div>
    </div>
   
  
  
 
  <script src= "https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"> </script>
  <script src = "{% static 'js/accordion.js' %}"></script>
  <script src= "https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"> </script>
  <script src= "https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"> </script>
  <script src= "https://use.fontawesome.com/releases/v5.0.8/js/all.js"> </script>

</body>
</html>