<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>How Are You</title>
    <link rel="icon" type="image/png" href="{% static 'question.png' %}">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
  <div class="container">
    <div class="header">
        <h1 class="text-center mt-3 my-header">Hello, How Are You ?</h1>
        <form class="text-center" method="POST" action="{% url 'howareyou:status_create' %}">
            {% csrf_token %}
            
              <div id="id_status" class="form-group text-center">
                {{ form.status }}
              </div>
            <button id="submit" type="submit" class="btn btn-primary">
              Send
            </button>
        </form>
    </div>
    <hr/>
    <div class="content">
        <div class="row">
            {% for item in data %}
            <div class="col-lg-4 my-schedule text-center">
                <p class="my-title mb-2">
                  {{ item.status }}
                </p>
                 <p class="my-date">
                    {{ item.date }}
                </p>
            </div>
            {% endfor %}
        </div>
    </div>
  </div>
</body>
</html>