body{
	background: url(./qbkls.png);
}
.my-schedule{
	width: 400px;
	height: 250px;
	background: rgba(1, 1, 1, 1);
	box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.7);
	border-radius: 30px;
	padding:20px;
	color: white;
	margin: auto;
	display: inline-block;
	word-wrap: break-word;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.my-title{
	
	font-size: 17px;
	line-height: 20px;
}

.my-date{
    border-top-color:white;
	border-top: solid 2px;
}

.my-header{
	color:black;
	font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}